<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.joseph.worldnews-archive</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>/Users/joseph/worldnews_archive_site/scripts/build_and_publish.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/joseph/worldnews_archive_site</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>8</integer>
    <key>Minute</key><integer>20</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/joseph/worldnews_archive_site/logs/launchd.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/joseph/worldnews_archive_site/logs/launchd.err</string>
</dict>
</plist>
